{% load static %}


<!-- TASK LIST STARTS HERE-->
<div class="col-sm-6 col-md-4 px-1 d-flex align-items-stretch h-100">
    <div class="card card-custom mb-3 shadow-lg mx-2">
        <!-- Card image -->
        {% include "task-img.html" %}
        <!-- Card content -->
        <div class="card-body pb-0">
            <h3 class="card-title text-truncate text-center pb-3">
                {{ task.name }}
            </h3>
            <!-- Card text -->
            <div class="card-text pt-2 lead">
                <p>
                    <span>
                        <i class="fa-solid fa-user px-2 card-icon"></i>
                    </span>
                    <span>{{ task.author.username }}</span>
                    <br>
                    <span>
                        <i class="fa-solid fa-calendar-days px-2 card-icon"></i>
                    </span>
                    <span>{{ task.date_updated }}</span>
                    <br>
                    <span>
                        <i class="fa-solid fa-list-check px-2 card-icon"></i>
                    </span>
                    <span>{{ task.subtasks.all|length }}</span>
                </p>
            </div>
        </div>
        <a href="{% url 'task-detail' username=task.author.username slug=task.slug %}" 
            class="stretched-link" aria-label="recipe-detail"></a>
        <!-- Card footer -->
        <div class="card-footer text-center">
            <p class="top-border px-4 d-inline-flex align-items-center">
                {% if task.likes %}
                <span>
                    <i class="fa-solid fa-heart card-likes-icon {% if user.username == task.author.username %}card-likes-icon-muted{% else %}card-likes-icon-highlight{% endif %} pt-3"></i>
                </span>
                {% else %}
                <span>
                    <i class="fa-regular fa-heart card-likes-icon {% if user.username == task.author.username %}card-likes-icon-muted{% else %}card-likes-icon-highlight{% endif %} pt-3"></i>
                </span>
                {% endif %}
                <span class="ms-2 card-likes pt-3">{{ task.likes }}</span>
            </p>
        </div>
    </div>
</div>
<!-- TASK LIST ENDS HERE-->