{% extends "base.html" %}
{% load static %}


{% block content %}

<!-- index.html starts here -->

<div>
    {% if 'placeholder' in task.task_image.url %}
    <img src="{% static 'images/default_task_img.jpg' %}" class="scale" alt="placeholder image" width="500" height="300">
    {% else %}
    <img src="{{ task.task_image.url }}" class="scale" alt="image for '{{ task.name }}' task" width="500" height="300">
    {% endif %}
</div>


<h1>{{ task.name }}</h1>
<p>{{ task.is_completed }}</p>
<p>{{ task.author }}</p>
<p>{{ task.date_updated }}</p>

<ul>
    {% for subtask in subtasks %}
        <li>{{ subtask.title }}</li>
        <li>{{ subtask.note | safe }}</li>
        <li>{{ subtask.is_completed }}</li>
    {% endfor %}
</ul>

<p>{{ task.likes }}</p>


<!-- index.html ends here -->

{% endblock content %}