{% extends "base.html" %}
{% load static %}


{% block content %}

<!-- index.html starts here -->

<img src="{% static 'images/default_task_img.jpg' %}" class="scale" alt="placeholder" width="500" height="300">
<h1>{{ task.name }}</h1>
<p>{{ task.is_completed }}</p>
<p>{{ task.author }}</p>
<p>{{ task.date_updated }}</p>

<ul>
    {% for subtask in subtasks %}
        <li>{{ subtask.title }}</li>
        <li>{{ subtask.note | safe }}</li>
        <li>{{ subtask.is_completed }}</li>
    {% endfor %}
</ul>

<p>{{ task.likes }}</p>


<!-- index.html ends here -->

{% endblock content %}