{% extends "base.html" %}
{% load static %}


{% block title %}Your Tasks{% endblock %}


{% block content %}

<!-- your-tasks.html starts here -->


<!-- INTRO START -->
<div class="container px-3 py-5">
    <div class="row">
        <div class="col-12">
            <h1 class="my-3 mb-2 text-center highlight-text-pink">Your Tasks</h1>
        </div>
    </div>
    <hr class="top-border">
    <div class="w-100 mt-5 mb-3">
        <a class="btn btn-primary btn-lg py-1 px-4 button bold add-task-btn" href="{% url 'add-task' %}">CREATE NEW TASK</a>
    </div>
    <br>
</div>
<!-- INTRO END -->


<!-- TASKER CARDS START -->
<div class="container px-3 pb-5">
    <div class="row">
        {% for task in your_task_list %}
        {% include "tasker-list.html" %}
        {% endfor %}
    </div>
</div>
<!-- TASKER CARDS END -->


<!-- PAGINATION START -->
{% include "paginate.html" %}
<!-- PAGINATION END -->


<!-- your-tasks.html ends here -->

{% endblock content %}
